@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
* { 
    font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
     outline: 0;
     font-weight: 300;
     box-sizing: border-box;
}
   :root {
       --primary:  #FD0303; 
       --primary-light: #FD225555
       --secundary: #22550
       --secundary-light: #225555;
       --third: #455a64;
       --third-light: #ffe9ca;
   }

   header { 
       display: flex;
   }