@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
* { 
    font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
     outline: 0;
     font-weight: 300;
     box-sizing: border-box;
}
   :root {
       --primary: #0EE0FD; 
       --primary-light: #5419D2;
       --secondary: #4E13CA;
       --secondary-light: #C4C4C4;
       --third: #5409F2;
       --third-light: #885CE8;
       --black: #0000; 
       --white: #ffff;
   }

   header { 
       display: flex;
       border-bottom: 0.5rem solid var(--white);
       background-color: var(--third-light);
   }
      header picture img {
      height: 6rem; 

      }
        header nav {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
         header nav ul{
          list-style-type: none;
          display: flex; 
          align-items: center;
         }
    header nav ul li {
        margin: 0 1.5rem;
    }
     header nav ul li a {
           text-decoration: none;
           font-size: 1.2rem;
           color: var(--black);
     }
      main {
          min-height: 70vh;
      }
      footer {
          background-color: var(--third);
          height: 3rem;
          display: flex;
          align-items: center;

      }
       footer > div {
         display: flex;
         align-items: center;
       }
       .content {
        width: 135%;
        max-width: 1372px;
        margin: 0 auto;

       }.content {
        width: 100%;
        max-width: 1372px;
        margin: 0 auto;
      }
      /* Specific Main*/
      main > picture.main > img {
        width: 100%;
      }
      main > section.main {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 0.5rem;
      }
      
      /* Specific Login */
      main > section.auth {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      main > section.auth > h1 {
        color: var(--primary);
        font-weight: 500;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      main > section.auth > form {
        background-color: var(--primary-light);
        border: 0.2rem solid var(--white);
        border-radius: 1rem;
        padding: 1.5rem;
      }
      main > section.auth > form > div {
        background-color: var(--white);
        border: 0.15rem solid var(--third);
        border-radius: 0.6rem;
        display: flex;
        margin: 0.5rem 0;
      }
      main > section.auth > form > div > img {
        height: 2.5rem;
        padding: 0.3rem;
      }
      main > section.auth > form > div > input {
        width: 100%;
        font-size: 1rem;
        border: 0;
        background-color: transparent;
      }
      main > section.auth > form > p > a {
        text-decoration: none;
        color: var(--black);
        font-weight: 500;
      }
      main > section.auth > form > p > button {
        background-color: var(--third);
        color: var(--white);
        padding: 0.6rem;
        border: 0;
        border-radius: 0.6rem;
        width: 5rem;
        margin-left: 0.5rem;
      }
