*{
    font-family: inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 400;
    }

    header{
        background-color: rgba(136, 92, 232, 1);
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    header img{
        width: 10%;
        
    }

    header div{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    a{
        margin: 10px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 3rem;
        font-weight: bolder;
      }
    
    nav{
        background-color: #ffffff;
        height: 5rem;
        display: flex;
        align-items: center;
        margin-left: 10%;
    }

    main{
        background-color: rgba(136, 92, 232, 1);
        width: 100%;
        height: auto;
    }

    main picture{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main picture img{
        width: 30%;
    }
    main div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div > h1{
      margin: 10%;
      background-color: rgba(84, 9, 242, 1);
      border: 10px solid rgba(84, 9, 242, 1);
      border-radius: 7px;
      color: #ffffff;
    }
    footer{
      background-color: rgba(84, 9, 242, 1);
    }


  .login main{
    display: flex;
   justify-content: center;
  }
  .login main div{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgba(84, 9, 242, 1);
    border: 10px solid rgba(84, 9, 242, 1);
    border-radius: 7px;
    margin: 10%;
  }

  
  .login main div div{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    justify-content: center;
  }
  
  .login label{
    color: #ffffff;
  }
  
  .login input{
    background-color: #C4C4C4;
    border: 2px solid #C4C4C4;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
  }
  
  .login button{
    width: 40%;
  }
  
  button{
    margin-left: 30%;
    background-color: #C4C4C4;
    border: 2px solid #C4C4C4;
    border-radius: 4px;
    color: black;
    padding: 0.5rem;
  }
  
  h3{
    color: #ffffff;
    font-size: medium;
  }
  
 